# Imports

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data_path = '/content/drive/MyDrive/Colab Notebooks/Portfolio/Uber/Data'

In [3]:
import os
import os.path
import pandas as pd

In [5]:
green_cab_June_2015 = pd.read_parquet(os.path.join(data_path, 'green_tripdata_2015-06.parquet'))
yellow_cab_June_2015 = pd.read_parquet(os.path.join(data_path, 'yellow_tripdata_2015-06.parquet'))
uber_2015_pickup_data = pd.read_csv(os.path.join(data_path, 'uber-raw-data-janjune-15.csv'))
rain_data = pd.read_csv(os.path.join(data_path, 'NYC_precipitation_data.csv'))

# Preprocessing

In [6]:
import time
from datetime import datetime

In [7]:
def add_date_features(df, datetime_column):
    # Ensure the datetime_column is in datetime format
    df[datetime_column] = pd.to_datetime(df[datetime_column])

    # Add date features
    df['Date'] = df[datetime_column].dt.date
    df['Month'] = df[datetime_column].dt.month
    df['Week'] = df[datetime_column].dt.isocalendar().week
    df['DayOfMonthNum'] = df[datetime_column].dt.day
    df['DayOfWeekNum'] = df[datetime_column].dt.dayofweek
    df['DayOfWeek'] = df[datetime_column].dt.day_name()
    df['Hour'] = df[datetime_column].dt.hour

    return df

In [10]:
green_cab_June_2015 = add_date_features(green_cab_June_2015, 'lpep_pickup_datetime')

green_cab_June_2015.to_parquet('/content/drive/MyDrive/Colab Notebooks/Portfolio/Uber/Data/green_cab_June_2015.parquet', index=False)

green_cab_June_2015

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,payment_type,trip_type,congestion_surcharge,Date,Month,Week,DayOfMonthNum,DayOfWeekNum,DayOfWeek,Hour
0,2,2015-06-01 00:18:37,2015-06-01 00:37:36,N,1,97,112,1,5.50,20.0,...,1,1.0,None,2015-06-01,6,23,1,0,Monday,0
1,2,2015-06-01 00:19:26,2015-06-01 00:21:32,N,1,80,80,1,0.35,3.5,...,1,1.0,None,2015-06-01,6,23,1,0,Monday,0
2,2,2015-06-01 00:26:41,2015-06-01 00:42:13,N,1,80,90,1,4.42,16.0,...,1,1.0,None,2015-06-01,6,23,1,0,Monday,0
3,2,2015-06-01 00:13:36,2015-06-01 00:22:42,N,1,225,97,1,2.20,9.5,...,1,1.0,None,2015-06-01,6,23,1,0,Monday,0
4,2,2015-06-01 00:24:47,2015-06-01 00:46:14,N,1,97,63,1,4.81,18.0,...,2,1.0,None,2015-06-01,6,23,1,0,Monday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638863,2,2015-06-30 23:41:57,2015-07-01 00:04:37,N,1,223,164,1,5.37,20.5,...,1,1.0,None,2015-06-30,6,27,30,1,Tuesday,23
1638864,2,2015-06-30 23:28:05,2015-06-30 23:40:49,N,1,97,112,1,3.62,12.5,...,1,1.0,None,2015-06-30,6,27,30,1,Tuesday,23
1638865,2,2015-06-30 23:20:05,2015-06-30 23:27:22,N,1,25,52,1,1.11,7.0,...,2,1.0,None,2015-06-30,6,27,30,1,Tuesday,23
1638866,2,2015-06-30 23:29:13,2015-06-30 23:39:40,N,1,40,106,1,1.75,9.0,...,1,1.0,None,2015-06-30,6,27,30,1,Tuesday,23
1638867,2,2015-06-30 23:27:40,2015-06-30 23:32:15,N,1,41,74,1,0.89,5.5,...,1,1.0,None,2015-06-30,6,27,30,1,Tuesday,23

In [11]:
yellow_cab_June_2015 = add_date_features(yellow_cab_June_2015, 'tpep_pickup_datetime')

yellow_cab_June_2015.to_parquet('/content/drive/MyDrive/Colab Notebooks/Portfolio/Uber/Data/yellow_cab_June_2015.parquet', index=False)

yellow_cab_June_2015

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,airport_fee,Date,Month,Week,DayOfMonthNum,DayOfWeekNum,DayOfWeek,Hour
0,1,2015-06-01 00:04:04,2015-06-01 00:13:02,1,1.10,1,N,79,148,3,...,8.80,None,None,2015-06-01,6,23,1,0,Monday,0
1,1,2015-06-01 00:42:13,2015-06-01 00:52:37,1,3.40,1,N,87,68,1,...,14.80,None,None,2015-06-01,6,23,1,0,Monday,0
2,1,2015-06-01 00:24:29,2015-06-01 00:50:18,4,5.40,1,N,164,7,1,...,24.30,None,None,2015-06-01,6,23,1,0,Monday,0
3,1,2015-06-01 00:11:03,2015-06-01 00:19:47,1,2.80,1,N,163,24,1,...,13.55,None,None,2015-06-01,6,23,1,0,Monday,0
4,1,2015-06-01 00:20:29,2015-06-01 00:52:44,1,19.60,2,N,132,151,2,...,58.34,None,None,2015-06-01,6,23,1,0,Monday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12324931,2,2015-06-30 23:09:08,2015-06-30 23:39:43,1,17.63,1,N,132,49,2,...,50.30,None,None,2015-06-30,6,27,30,1,Tuesday,23
12324932,1,2015-06-30 23:24:42,2015-06-30 23:33:50,2,1.80,1,N,230,237,2,...,9.80,None,None,2015-06-30,6,27,30,1,Tuesday,23
12324933,1,2015-06-30 23:41:39,2015-06-30 23:45:18,1,0.80,1,N,230,142,1,...,8.15,None,None,2015-06-30,6,27,30,1,Tuesday,23
12324934,2,2015-06-30 23:07:30,2015-06-30 23:26:44,2,7.14,1,N,230,244,1,...,29.16,None,None,2015-06-30,6,27,30,1,Tuesday,23
12324935,2,2015-06-30 23:45:16,2015-06-30 23:49:42,2,0.98,1,N,41,74,1,...,6.80,None,None,2015-06-30,6,27,30,1,Tuesday,23

In [12]:
uber_2015_pickup_data = add_date_features(uber_2015_pickup_data, 'Pickup_date')

uber_June_2015 = uber_2015_pickup_data[uber_2015_pickup_data['Month'] == 6].reset_index(drop=True)

uber_June_2015.to_parquet('/content/drive/MyDrive/Colab Notebooks/Portfolio/Uber/Data/uber_June_2015.parquet', index=False)

uber_June_2015

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Date,Month,Week,DayOfMonthNum,DayOfWeekNum,DayOfWeek,Hour
0,B02682,2015-06-16 17:03:00,B02682,114,2015-06-16,6,25,16,1,Tuesday,17
1,B02682,2015-06-16 17:03:00,B02682,151,2015-06-16,6,25,16,1,Tuesday,17
2,B02682,2015-06-16 17:03:00,B02682,4,2015-06-16,6,25,16,1,Tuesday,17
3,B02682,2015-06-16 17:03:00,B02682,211,2015-06-16,6,25,16,1,Tuesday,17
4,B02682,2015-06-16 17:03:00,B02682,238,2015-06-16,6,25,16,1,Tuesday,17
...,...,...,...,...,...,...,...,...,...,...,...
2816890,B02836,2015-06-30 22:51:00,B02836,143,2015-06-30,6,27,30,1,Tuesday,22
2816891,B02836,2015-06-30 22:52:00,B02836,90,2015-06-30,6,27,30,1,Tuesday,22
2816892,B02836,2015-06-30 23:06:00,B02836,246,2015-06-30,6,27,30,1,Tuesday,23
2816893,B02836,2015-06-30 23:20:00,B02836,107,2015-06-30,6,27,30,1,Tuesday,23
2816894,B02836,2015-06-30 23:29:00,B02836,144,2015-06-30,6,27,30,1,Tuesday,23

In [13]:
rain_data = add_date_features(rain_data, 'Date/Time')

rain_June_2015 = rain_data[(rain_data['Month']==6) & (rain_data['Date/Time'].dt.year==2015)]

rain_June_2015.to_parquet('/content/drive/MyDrive/Colab Notebooks/Portfolio/Uber/Data/rain_June_2015.parquet', index=False)

rain_June_2015

,Date/Time,LocationID,Latitude,Longitude,Reflectivity (dBZ),Radial Velocity (m/s),Spectrum Width (m/s),Precipitation (mm),Date,Month,Week,DayOfMonthNum,DayOfWeekNum,DayOfWeek,Hour
10224,2015-06-01 00:00:00,1,40.689515,-74.176779,52.746531,-11.270298,5.808091,47.139165,2015-06-01,6,23,1,0,Monday,0
10225,2015-06-01 01:00:00,1,40.689515,-74.176779,49.247218,13.036897,4.237091,46.457973,2015-06-01,6,23,1,0,Monday,1
10226,2015-06-01 02:00:00,1,40.689515,-74.176779,33.373085,-17.999365,6.289803,36.578739,2015-06-01,6,23,1,0,Monday,2
10227,2015-06-01 03:00:00,1,40.689515,-74.176779,40.867611,-2.395680,7.616121,43.664248,2015-06-01,6,23,1,0,Monday,3
10228,2015-06-01 04:00:00,1,40.689515,-74.176779,34.671637,-14.082607,8.018309,32.641758,2015-06-01,6,23,1,0,Monday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845175,2015-06-30 18:00:00,262,40.899080,-73.856400,27.833455,-24.941525,8.733788,14.566159,2015-06-30,6,27,30,1,Tuesday,18
2845176,2015-06-30 19:00:00,262,40.899080,-73.856400,46.157816,-22.333975,9.866792,33.145581,2015-06-30,6,27,30,1,Tuesday,19
2845177,2015-06-30 20:00:00,262,40.899080,-73.856400,40.665249,20.652073,10.561636,60.443943,2015-06-30,6,27,30,1,Tuesday,20
2845178,2015-06-30 21:00:00,262,40.899080,-73.856400,37.028299,3.257083,7.509054,42.758005,2015-06-30,6,27,30,1,Tuesday,21
2845179,2015-06-30 22:00:00,262,40.899080,-73.856400,25.843950,-28.816937,8.899466,17.453025,2015-06-30,6,27,30,1,Tuesday,22

In [15]:
# Check missing values
green_cab_June_2015.isna().sum()

VendorID                       0
lpep_pickup_datetime           0
lpep_dropoff_datetime          0
store_and_fwd_flag             0
RatecodeID                     0
PULocationID                   0
DOLocationID                   0
passenger_count                0
trip_distance                  0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
ehail_fee                1638868
improvement_surcharge          0
total_amount                   0
payment_type                   0
trip_type                      5
congestion_surcharge     1638868
Date                           0
Month                          0
Week                           0
DayOfMonthNum                  0
DayOfWeekNum                   0
DayOfWeek                      0
Hour                           0
dtype: int64

In [16]:
yellow_cab_June_2015.isna().sum()

VendorID                        0
tpep_pickup_datetime            0
tpep_dropoff_datetime           0
passenger_count                 0
trip_distance                   0
RatecodeID                      0
store_and_fwd_flag              0
PULocationID                    0
DOLocationID                    0
payment_type                    0
fare_amount                     0
extra                           0
mta_tax                         0
tip_amount                      0
tolls_amount                    0
improvement_surcharge           0
total_amount                    0
congestion_surcharge     12324936
airport_fee              12324936
Date                            0
Month                           0
Week                            0
DayOfMonthNum                   0
DayOfWeekNum                    0
DayOfWeek                       0
Hour                            0
dtype: int64

In [17]:
uber_June_2015.isna().sum()

Dispatching_base_num    0
Pickup_date             0
Affiliated_base_num     0
locationID              0
Date                    0
Month                   0
Week                    0
DayOfMonthNum           0
DayOfWeekNum            0
DayOfWeek               0
Hour                    0
dtype: int64

In [18]:
rain_June_2015.isna().sum()

Date/Time                0
LocationID               0
Latitude                 0
Longitude                0
Reflectivity (dBZ)       0
Radial Velocity (m/s)    0
Spectrum Width (m/s)     0
Precipitation (mm)       0
Date                     0
Month                    0
Week                     0
DayOfMonthNum            0
DayOfWeekNum             0
DayOfWeek                0
Hour                     0
dtype: int64